body {
	background-color: rgb(164, 181, 191, 1.0);

	display: flex;
	justify-content: center;
}

#calculator, #display, #buttons {
	border-radius: 5%;
}

#calculator {
	padding: 1vw;
	background-color: rgb(76, 67, 66, 1.0);

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

/*****************Display*******************/

@font-face {
	font-family: digital;
	src: url('assets/font/normal.ttf');
}

#display {
	padding: 1vw;
	background-color: rgb(194, 196, 198, 1.0);
	border-radius: 2%;


	color: rgb(75, 72, 75, 1.0);
	font-family: digital;
	font-size: 2vw;
}





/****************BUTTONS*******************/

#buttons {
	padding: 2vw;
	margin-top: 1vw;
	width: 20vw;
	background-color: rgb(87, 88, 95, 1.0);

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

button {
	width: 3.5vw;
	height: 3.5vw;
	margin: 0.2vw;

	font-family: digital;
	font-size: 2vw;
}